@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "tidy-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #90b494;
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: #718f94;
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: #bfc8ad;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #262626;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #3993dd;
  --color-info-content: oklch(16% 0 206);
  --color-success: #86cd82;
  --color-success-content: oklch(18% 0 165);
  --color-warning: #ffd25a;
  --color-warning-content: oklch(18% 0 80);
  --color-error: #e26d5c;
  --color-error-content: oklch(16% 0 30);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "tidy-dark";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #353535;
  --color-base-200: #2b2b2b;
  --color-base-300: #212121;
  --color-base-content: oklch(100% 0 0);
  --color-primary: #90b494;
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: #718f94;
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: #bfc8ad;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: #262626;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #3993dd;
  --color-info-content: oklch(16% 0 206);
  --color-success: #86cd82;
  --color-success-content: oklch(18% 0 165);
  --color-warning: #ffd25a;
  --color-warning-content: oklch(18% 0 80);
  --color-error: #e26d5c;
  --color-error-content: oklch(16% 0 30);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
